name: ROS2 CI

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        include:
          - operating-system: ubuntu-22.04
            ros_distro: humble
            distro: jammy
          - operating-system: ubuntu-24.04
            ros_distro: jazzy
            distro: noble
    env:
      ROS_CI_DESKTOP: ${{ matrix.distro }}
      CI_SOURCE_PATH: $(pwd)
      ROS_DISTRO: ${{ matrix.ros_distro }}
    steps:
      - name: Setup ROS
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: ${{ matrix.ros_distro }}

      - name: Install deps
        run: |
            sudo apt install -y libglm-dev libglfw3-dev
            sudo apt install -y libglapi-mesa libxcb-dri3-dev libxcb-dri2-0-dev libxdamage-dev libxfixes-dev
            source /opt/ros/$ROS_DISTRO/setup.bash

      - name: Setup Workspace
        run: |
          source /opt/ros/$ROS_DISTRO/setup.bash
          cmake --version
          cd $GITHUB_WORKSPACE
          mkdir -p ros2_ws/src/hello_worlds
          cd ros2_ws
          colcon build --symlink-install

      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: ros2_ws/src/hello_worlds

      - name: Clone PhysX
        uses: actions/checkout@v4
        with:
          repository: NVIDIA-Omniverse/PhysX
          ref: 106.5-physx-5.5.1
          path: ros2_ws/src/hello_worlds/External/PhysX

      - name: Build PhysX
        working-directory: ros2_ws/src/hello_worlds/External/PhysX/physx
        run: |
          ./generate_projects.sh linux-gcc release
          cd compiler/linux-gcc-release
          make -j
          make install

      - name: Build
        working-directory: ros2_ws
        run: |
          source install/setup.bash
          export ROS_LOCALHOST_ONLY=1
          colcon build --symlink-install --cmake-args -DCMAKE_BUILD_TYPE=Release

      - name: Integrate
        working-directory: ros2_ws/src
        run: |
          SRC_DIR=$(pwd)
          cd hello_worlds/tests/Integration/ROS2
          ./deploy.sh $SRC_DIR
          cd $SRC_DIR
          cd ..
          source install/setup.bash
          ls src
          colcon build --packages-select hello_worlds_consumer --symlink-install --cmake-args -DCMAKE_BUILD_TYPE=Release
          source install/setup.bash
          ros2 run hello_worlds_consumer consumer_app

      - name: Run tests
        working-directory: ros2_ws
        run: |
          source install/setup.bash
          export ROS_LOCALHOST_ONLY=1
          colcon test --event-handlers console_direct+ --return-code-on-test-failure

      - name: Test results
        working-directory: ros2_ws
        run: |
          colcon test-result --verbose