name: Standalone

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PACKAGE_NAME: hello_worlds
      SRC_DIR: ${{ github.workspace }}/src/hello_worlds
    steps:

      - name: Install deps
        run: |
            sudo apt install -y libglm-dev libglfw3-dev libfreetype-dev 
            sudo apt install -y libtinyxml2-dev pkg-config libcurl4-openssl-dev libassimp-dev
            sudo apt install -y libglapi-mesa libxcb-dri3-dev libxcb-dri2-0-dev libxdamage-dev libxfixes-dev

      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: ${{ env.SRC_DIR }}

      - name: Clone PhysX
        uses: actions/checkout@v4
        with:
          repository: NVIDIA-Omniverse/PhysX
          ref: 106.5-physx-5.5.1
          path: ${{ env.SRC_DIR }}/External/PhysX

      - name: Build PhysX
        working-directory: ${{ env.SRC_DIR }}/External/PhysX/physx
        run: |
          ./generate_projects.sh linux-gcc release
          cd compiler/linux-gcc-release
          make
          make install

      - name: Build
        working-directory: ${{ env.SRC_DIR }}
        run: |
          mkdir build
          mkdir install
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=../install ..
          make install

      - name: Integrate
        working-directory: ${{ env.SRC_DIR }}
        run: |
          cd tests/Integration/Standalone
          mv standalone_CMakeLists.txt CMakeLists.txt
          mkdir build && cd build
          cmake .. -DCMAKE_PREFIX_PATH=${{ env.SRC_DIR }}/install
          make
          ./consumer_app

      - name: Lint
        working-directory: ${{ env.SRC_DIR }}
        run: |
          cp .github/.clang-tidy ./.clang-tidy
          python3 .github/run_clang_tidy.py . build External,build

      #- name: Run tests
      #  run: |
      #    cd $GITHUB_WORKSPACE/ros2_ws
      #    source install/setup.bash
      #    export ROS_LOCALHOST_ONLY=1
      #    colcon test --event-handlers console_direct+ --return-code-on-test-failure
#
      #- name: Test results
      #  run: |
      #    cd $GITHUB_WORKSPACE/ros2_ws
      #    colcon test-result --verbose